/* add your CSS here */
html {
	background-color: #f2f8fd;
	display:table; 
	width: 100%;
}
span
{
 color: #708090;
}
p.first:first-letter
{

    float: left;
    font-size: 2em;
    line-height: 0.5em;
    padding-bottom: 0.05em;
    color: #708090;

}
p 
{
color: #907080;
}
h2
{
	text-align: center;
	color: #708090;
	font-style: italic;
	
}
html, body 
{
	height:100%;
	margin-top: 15px;

}

body div
{

	font-family: "Times New Roman", Times, serif;
	margin:auto;
	min-width: 350px;
	max-width: 380px;

}
li span 
{
	font-weight: bold

}
div 
{
	
	border: 1px solid lightgrey;
	margin: 2px;
	padding: 5px;
}
.info
{
	background-color: #ffd27f;
	
	

}

li
{
	color: #907080;
}
img
{
	margin-bottom:5px;
	-moz-box-shadow: 3px 3px #708090;
    -webkit-box-shadow: 3px 3px #708090;
    box-shadow: 3px 3px #708090;
}

#shadow 
{
	box-shadow: 5px 10px lightgrey;
	background-color: #E8E8E8;
}
ul 
{
	list-style: none;

}

ol 
{
list-style: lower-roman;
}

ul.list { padding-left : 0; }
ul.list li { padding : 0px 0; }
